@import "base/base";

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#game {
    margin-top: 5rem;
    margin-bottom: 5rem;
}

#best-score, #current-score {
    margin-top: 2.5rem;
    font-size: 2.5rem;
}

@media(max-width: 550px){
    #best-score, #current-score {
        font-size: 4rem;
    }
}